{% extends 'base.html' %}

{% block head %}
<title>Add Property</title>
{% endblock %}

{% block body %}
<h1> Sell Property </h1>
<form action="" method="POST">
    Address <input type="text" name="address">
    <br>
    Type <input type="text" name="type">
    <br>
    Selling Price <input type="number" name="selling_price">
    <br>
    Renting Price <input type="number" name="renting_price">
    <br>
    Availability <input type="text" name="availability">
    <br>
    Date of Selling <input type="text" name="date_of_selling">
    <br>
    <input type="submit">
</form>
{% endblock %}
