{% extends 'base.html' %}

{% block head %}
<title>Agent's Notification</title>
{% endblock %}

{% block body %}
<h1>Requested Property List</h1>
<div>
    <table border="1" cellpadding="5" cellspacing="5">
        <tr>
            <th>Property Id</th>
            <th>location</th>
            <th>Type</th>
            <th>Availability type</th>
            <th>Size</th>
            <th>Selling Price in lacs</th>
            <th>Renting Price in thousands</th>
            <th>Buyer ID</th>
            <th>Actions</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row.property_id }}</td>
            <td>{{ row.location }}</td>
            <td>{{ row.type}}</td>
            <td>{{ row.availablity }}</td>
            <td>{{ row.size }}</td>
            <td>{{ row.selling_price}}</td>
            <td>{{ row.renting_price}}</td>
            <td>{{row.buyer_id }}</td>
            <td>
                <a href="/confirm/{{row.property_id}}">Confirm this Request</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}