{% extends 'base.html' %}

{% block head %}
<title>Propertydedo.com</title>
{% endblock %}

{% block body %}

<h1>Welcome to Propertydedo.com </h1>
<!-- <a href="/buyproperty">View Properties</a> -->
<a href="/buyerlogin">Buyer Login</a>
<br>
<a href="/buyerregister">Buyer Register</a>
<br>
<!-- <a href="/sellproperty">Add Property</a>
<br> -->
<a href="/agentlogin">Agent Login</a>
<br>
<a href="/agentregister">Agent Register</a>
<br>
<a href="/reoffice">Real Estate Agent's Office Login</a>
{% endblock %}
